@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



//reset styles
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 1rem Roboto, sans-serif;
}

//set variables
:root {
    --detail: #aaa;
    --detail-light: rgba(0, 0, 0, .1);
    --text2: rgba(0, 0, 0, 0.87);
    --bg: #f1f1f1;
    --bg2: #fafafa;

    --red: rgb(239, 53, 29);
    --green: rgb(68, 162, 72);

    --main: #c36;
    --on-main: white;
    
    --simple-shadow:
        0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --simple-shadow2:
        0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    --simple-shadow3:
        0px 5px 5px -3px rgba(0, 0, 0, 0.2),
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);

    --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}

//global styling
body {
    background-color: var(--bg);
    counter-reset: section-counter 0;
    padding: 1.5rem 4rem;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100dvh;
}

h1,
h2,
h3 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.hidden {
    display: none !important;
}

h1 {
    font-size: 60px;
    line-height: 72px;
    margin: 1rem 0 3rem 0;
}

h2 {
    font-size: 2rem;
    letter-spacing: -0.266667px;
    line-height: 2rem;
    padding: 1rem 0;
    height: 4rem;
    align-self: flex-start;
    margin-bottom: 1rem;
}

.additional {
    font-size: 14px;
    color: #666;
}

span.material-symbols-outlined {
    user-select: none;
}

.no-pointer {
    pointer-events: none;
}