@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



//reset styles
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 1rem Roboto, sans-serif;
}

//set variables
:root {
    --detail: #aaa;
    --detail-light: rgba(0, 0, 0, .1);
    --border: #e1e1e1;
    --text2: rgba(0, 0, 0, 0.87);
    --bg: #f1f1f1;
    --bg2: #fafafa;

    --red: rgb(239, 53, 29);
    --green: rgb(68, 162, 72);

    --main: #c36;
    --on-main: white;

    --simple-shadow:
        0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --simple-shadow2:
        0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    --simple-shadow3:
        0px 5px 5px -3px rgba(0, 0, 0, 0.2),
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);

    --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);

    --danger-50: 247, 197, 196;
    --danger-100: 243, 151, 149;
    --danger-300: 245, 103, 100;
    --danger-500: 243, 55, 52;
    --danger-700: 202, 17, 14;
    --danger-900: 165, 13, 11;

    --warn-50: 248, 224, 192;
    --warn-100: 247, 196, 129;
    --warn-300: 240, 169, 77;
    --warn-500: 224, 140, 38;
    --warn-700: 173, 101, 13;
    --warn-900: 117, 69, 7;

    --success-50: 184, 240, 187;
    --success-100: 124, 230, 129;
    --success-300: 73, 223, 80;
    --success-500: 33, 179, 40;
    --success-700: 27, 131, 33;
    --success-900: 14, 82, 17;

    --info-50: 187, 210, 241;
    --info-100: 131, 180, 243;
    --info-300: 76, 147, 240;
    --info-500: 19, 113, 236;
    --info-700: 13, 81, 172;
    --info-900: 8, 49, 102;
}

//global styling
body {
    background-color: var(--bg);
    counter-reset: section-counter 0;
    padding: 1.5rem 4rem;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100dvh;
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.hidden {
    display: none !important;
}

h1 {
    font-size: 60px;
    line-height: 72px;
    margin: 1rem 0 3rem 0;
}

h2 {
    font-size: 2rem;
    letter-spacing: -0.266667px;
    line-height: 2rem;
    padding: 1rem 0;
    height: 4rem;
    align-self: flex-start;
    margin-bottom: 1rem;
}

strong {
    font-weight: bold;
}

.additional {
    font-size: 14px;
    color: #666;
}

span.material-symbols-outlined {
    user-select: none;
}

.no-pointer {
    pointer-events: none;
}

main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a[href], a[routerLink], .link {
    color: rgb(0, 102, 204);
    color: -webkit-link;
    text-decoration: underline;

    &.disabled {
        opacity: 50%;
    }
}

mat-spinner {
    --mdc-circular-progress-active-indicator-color: var(--main);
}

//! markdown
markdown {
    text-align: justify;

    p, ul {
        padding: 0.33rem;
    }
    li {
        padding: 0.05rem;
    }
    h2 {
        padding: 0.33rem;
        margin: 0;
        height: unset;
    }
}