.answer {
    color: var(--border);
}

.polymerscan {
    min-width: 80vw;
    max-width: 80vw;

    .button-container {
        position: relative;
    }

    mat-spinner {
        position: absolute;
        left: calc(100% + 1rem);
        top: 0;
    }

    p {
        padding-top: 1rem;
    }
}