.custom-selector {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-family: var(--main-font);
    color: var(--border);

    &::after {
        content: '';
        border-width: 5px;
        border-style: solid;
        border-color: transparent;
        border-top-color: #333;
        display: inline-block;
        position: absolute;
        right: 10px;
        bottom: 10px;
        border-radius: 2px;
        pointer-events: none

    }

    select {
        cursor: pointer;
        padding: 0.375rem;
        min-height: 1.5rem;
        border-radius: 13px;
        border: 1px solid var(--detail);
        font-size: 1rem;
        font-family: var(--main-font);
        background-color: var(--bg2-light);
        width: 100px;
        appearance: none;
    }

    option {
        font-family: var(--main-font);
    }

}