

button {
    background-color: var(--main);
    cursor: pointer;
    height: 2.25rem;
    padding: 0 1rem;
    border: none;
    border-radius: 6px;
    color: var(--on-main);
    font-size: 0.875rem;
    letter-spacing: 0.0892857143em;
    font-weight: 500;
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.6ch;
    outline-offset: 3px;
    
    transition: box-shadow 0.28s var(--timing-fn), background-color 0.2s ease, opacity 0.2s ease;
    box-shadow: var(--simple-shadow);
    
    &:hover,
    &:focus {
        box-shadow: var(--simple-shadow2);
    }
    &:active {
        box-shadow: var(--simple-shadow3);
    }
    
    .focus-overlay {
        background-color: var(--on-main);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: inherit;
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
        pointer-events: none;
    }
    &:hover .focus-overlay {
        opacity: 8%;
    }
    &:active .focus-overlay {
        opacity: 16%;
    }

    &[disabled] {
        opacity: 50%;
        background-color: #888;

        .focus-overlay {
            opacity: 0;
        }
    }
}