<main>
    <body>
        <img src="https://i.postimg.cc/Fs2QCjKh/ergis-logo-Any-Eraser.png">
        <div class="subtitle show-subtitle"> Kolekcja narzędzi stworzonych specjalnie dla Ergis Management
        </div>
        <div class="content">
            <app-card routerLink="faktoring" header="Faktoring">
                <p>Skonwertuj swój plik PRN</p>
            </app-card>
            <app-card routerLink="polymerscan" header="Polymerscan">
                <p>Wykorzystaj dane z pliku PDF</p>
            </app-card>
        </div>
    </body>
</main>