<main>
    <h1>Ergis App</h1>
    <div class="subtitle">Kolekcja narzędzi stworzonych specjalnie dla Ergis Management.</div>
    <section class="links-section">
        <ul>
            <li>
                <a routerLink="faktoring">Konwerter plików PRN</a>
            </li>
            <li>
                <span class="link disabled">Polymerscan</span>
                <span style="font-weight: 500; font-size: 90%">&nbsp;(Coming soon!)</span>
            </li>
        </ul>
    </section>
</main>