main {
    width: max-content;
    max-width: 100%;
    min-width: 25rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-file-display {
    width: 80%;
}

textarea, pre {
    width: 35rem;
    min-height: 4em;
    height: 10em;
    max-height: 24em;
    border-radius: 8px;
    border-bottom-right-radius: 4px;
    border: 1px solid var(--detail);
    padding: 0.375rem 0.625rem;
    resize: vertical;
    font-family: monospace;
    overflow: auto;
}
textarea {
    width: 100%;
    min-height: 7.5em;
    border-radius: 8px;
    border-bottom-right-radius: 4px;
    border: 1px solid var(--detail);
    padding: 0.375rem 0.625rem;
    resize: vertical;
    font-family: monospace;
}

.gpt-response-wrapper.no-data {
    text-align: center;
    font-family: inherit;
    font-size: 90%;
    letter-spacing: 0.02em;
}

.button-container {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    position: relative;
}
mat-spinner {
    --mdc-circular-progress-active-indicator-color: #c36;
    height: 2.25rem !important;
    width: 2.25rem !important;
    position: absolute;
    left: calc(100% + 1rem);
}