.error-box {
    margin-top: 1rem;
    padding: 0.625rem 1.125rem 0.625rem 1rem;
    width: 100%;
    border: 1px solid rgb(var(--currentColor-700));
    border-radius: 8px;
    background: rgba(var(--currentColor-500), 10%);
    display: flex;
    align-items: center;
    gap: 0.625rem;

    span {
        color: rgb(var(--currentColor-700));
    }

    &.type-error {
        --currentColor-500: var(--danger-500);
        --currentColor-700: var(--danger-700);
    }
    &.type-info {
        --currentColor-500: var(--info-500);
        --currentColor-700: var(--info-700);
    }
    &.type-success {
        --currentColor-500: var(--success-500);
        --currentColor-700: var(--success-700);
    }
    &.type-warning {
        --currentColor-500: var(--warn-500);
        --currentColor-700: var(--warn-700);
    }
}