<main>
    <h1>Faktoring app</h1>
    <div class="sections-wrapper">
        <app-section required header="Dodaj pozycje z poprzedniego miesiąca">
            <app-file-drop-zone (upload)="onCsvFileUpload($event)" accept=".csv" />
            <app-file-display [file]="faktoringService.csvFile()" />
        </app-section>
        <app-section required header="Dodaj plik PRN">
            <app-file-drop-zone (upload)="onPrnFileUpload($event)" accept=".prn" />
            <app-file-display [file]="faktoringService.prnFile()" />
        </app-section>

        <app-icon-button
            class="skip-button button-to-generate"
            appearance="outlined"
            size="very-big"
            title="Przewiń do przycisku Generuj"
            [class.visible]="isSkipToGenerateVisible()"
            [class.flipped]="isSkipToGenerateFlipped()"
            (click)="onSkipToGenerateClick()"
        ><app-icon>south</app-icon></app-icon-button>

        @if (faktoringService.hasPrn() || isPrnLoading()) {
        <app-section header="Przejrzyj podgląd pliku">
            <div class="table-wrapper">
                @if (isPrnLoading()) {
                <mat-spinner class="table-spinner" />
                }
                <app-editable-data-table [class.table-loading]="isPrnLoading()"
                    [dataArray]="faktoringService.prnArray()" [headers]="faktoringService.prnHeaders()" />
            </div>
        </app-section>
        }

        <app-icon-button
            class="skip-button button-to-table"
            appearance="outlined"
            size="very-big"
            title="Przewiń do tabeli edycji"
            [class.visible]="isSkipToTableVisible()"
            (click)="onSkipToTableClick()"
        ><app-icon>north</app-icon></app-icon-button>
  
        <app-section header="Generuj rozliczenie kursów">
            <div class="button-container">
                <app-button [disabled]="!faktoringService.hasPrn() || !faktoringService.hasCsv()"
                    (click)="onGenerateButtonClick()" htmlId="generate-btn">Generuj</app-button>
                    <!--This disables empty CSVs from running-->
                @if (areResultsLoading()) {<mat-spinner />}
            </div>
        </app-section>
        @if (tableData()) {
        <app-section header="Przejrzyj wyniki" headerId="results">
            @if (tableData()!.length > 0) {
                @if (mismatchedAccountMessage()) {
                <app-error-box type="warning" class="mismatched-accounts">
                    <p>Numer konta lub subkonta nie zgadza się pomiędzy plikami!</p>
                    <p [innerHTML]="this.mismatchedAccountMessage()"></p>
                </app-error-box>
                }
                <app-final-table [data]="tableData()" />
            } @else {
                @if (mismatchedAccountMessage()) {
                    <app-error-box type="warning" class="mismatched-accounts">
                        <p>Numer konta lub subkonta nie zgadza się pomiędzy plikami!</p>
                        <p [innerHTML]="this.mismatchedAccountMessage()"></p>
                    </app-error-box>
                    }
                Nie udało się dopasować żadnych pozycji.
            }
        </app-section>
        <app-section header="Pobierz nieużyte pozycje">
            @if (leftoversCount()) {
            <app-button (click)="downloadLeftovers()">
                <span class="upload-icon material-symbols-outlined">
                    download
                </span>
                Pobierz
            </app-button>
            <p class="unused-count">Nieużyte elementy: <strong>{{ leftoversCount() | number }}</strong></p>
            }
        </app-section>
        }
    </div>
</main>