<main>
    <h1>Konwerter plików PRN</h1>
    <div class="sections-wrapper">
        <app-section required header="Dodaj plik PRN">
            <app-file-drop-zone (upload)="onPrnFileUpload($event)" accept=".prn" />
            <app-file-display [file]="fileStorage.file()" />
            <app-select [options]="FAKTORING_MODE_OPTIONS" label="Podstawa rozliczenia" [(value)]="faktoringMode" />
        </app-section>
        @if (fileStorage.isLoaded() === true) {
        <app-section header="Przejrzyj podgląd pliku">
            <div class="table-wrapper">
                @if (isPrnLoading()) {
                <mat-spinner class="table-spinner" />
                }
                <app-editable-data-table [class.table-loading]="isPrnLoading()" [dataArray]="prnArray()"
                    [headers]="prnHeaders()" />
            </div>
        </app-section>
        }
        <app-section required header="Dodaj pozycje z poprzedniego miesiąca">
            <app-file-drop-zone (upload)="onCsvFileUpload($event)" accept=".csv" />
            <app-file-display [file]="fileStorage.csvFile()" />
        </app-section>
        <app-section header="Generuj rozliczenie kursów">
            <div class="button-container">
                <app-button [disabled]="!prnArray().length || !csvArray().length"
                    (click)="onGenerateButtonClick()">Generuj</app-button>
                @if (areResultsLoading()) {<mat-spinner />}
            </div>
        </app-section>
        @if (tableData()) {
        <app-section header="Przejrzyj wyniki" headerId="results">
            <app-final-table [data]="tableData()" />
        </app-section>
        <app-section header="Pobierz nieużyte pozycje">
            @if (hasAnyLeftovers()) {
            <app-button (click)="downloadLeftovers()">
                <span class="upload-icon material-symbols-outlined">
                    download
                </span>
                Pobierz
            </app-button>
            <p class="unused-count">Nieużyte elementy: <strong>{{ leftoversCount() | number }}</strong></p>
            }
        </app-section>
        }
    </div>
</main>