.sections-wrapper {
    width: 100%;
}

app-error-box {
    display: flex;
    justify-content: center;
    width: 50%;
}

h1 {
    display: flex;
    justify-content: center;
}
.file-content-wrapper {
    height: 100%;
    width: 100%;
    background-color: var(--on-main);
}

textarea, pre {
    min-width: 35rem;
    width: 100%;
    min-height: 4em;
    height: 10em;
    max-height: 24em;
    border-radius: 8px;
    border-bottom-right-radius: 4px;
    border: 1px solid var(--detail);
    padding: 0.375rem 0.625rem;
    resize: vertical;
    font-family: monospace;
    overflow: auto;
}
textarea {
    min-height: 7.5em;
    border-radius: 8px;
    border-bottom-right-radius: 4px;
    border: 1px solid var(--detail);
    padding: 0.375rem 0.625rem;
    resize: vertical;
    font-family: monospace;
}
.unuseds-wrapper {
    white-space: wrap;
    text-align: justify;
    word-wrap: break-word;

    >app-icon-button {
        float: right;
        margin: 0 0 0 0.625rem;
    }
    >span {
        font: inherit;
    }
}

.no-data {
    text-align: center;
    font-family: inherit;
    font-size: 90%;
    letter-spacing: 0.02em;
}

.button-container {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    position: relative;
}
mat-spinner {
    --mdc-circular-progress-active-indicator-color: #c36;
    height: 2.25rem !important;
    width: 2.25rem !important;
    position: absolute;
    left: calc(100% + 1rem);
}
.table-spinner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.unused-count {
    padding: 1rem;
    color: var(--border);
    font-family: var(--main-font);
}

.table-wrapper {
    max-width: 100%;
    overflow-x: auto;
    margin: 0 auto;
    -webkit-overflow-scrolling: touch;
}

.table-loading {
    opacity: 0%;
    position: absolute;
}

.table-wrapper {
    max-width: 100%; /* Adjust this value as needed */
    overflow-x: auto; /* Allows horizontal scrolling */
    margin: 0 auto; /* Centers the table wrapper if it's narrower than the max-width */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
}

.table-loading {
    opacity: 0%;
    position: absolute;
}

.table-wrapper {
    max-width: 100%; /* Adjust this value as needed */
    overflow-x: auto; /* Allows horizontal scrolling */
    margin: 0 auto; /* Centers the table wrapper if it's narrower than the max-width */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
}

.table-loading {
    opacity: 0%;
    position: absolute;
}

app-select {
    padding-top: 1rem;
    align-self: flex-start;
}