@if (data()) {
<div class="main-container" #mainContainer>
    <div class="results-table-master-container">
        <div class="button-container">
            <app-button (click)="toggleDetails()">@if (isDetailsShown()) { Ukryj dodatkowe dane } @else { Pokaż
                dodatkowe dane }</app-button>
            <app-button (click)="copyAsCsv()" appearance="transparent">
                @if (isCopying()) {
                    Skopiowano!
            } @else {
                Kopiuj tabele jako CSV
            }
        </app-button>
        </div>
        <div class="results-tables">
            <div class="main-tables">
                <table class="results-table">
                    <thead>
                        <tr>
                            <th>Konto</th>
                            <th>Subkonto</th>
                            <th class="no-padding">Rozw.</th>
                            <th>Referencja</th>
                            <th class="no-padding">Korekta</th>
                        </tr>
                    </thead>
                    <tbody class="results-table-body">
                        @for (row of data(); let index = $index; track index) {
                        <tr class="results-row" [class.above-zero]="row.currencyCorrection > 0"
                            [class.below-zero]="row.currencyCorrection < 0"
                            [class.is-focused]="tooltipIndex() === index">
                            <td>{{ row.currencyCorrection > 0 ? 750 : 751 }}</td>
                            <td>75210</td>
                            <td>0d00</td>
                            <td>RK {{ row.referencjaKG }}</td>
                            <td>{{ ((-row.currencyCorrection) | nmbr) || '0,00' }}</td>
                        </tr>
                        }
                    </tbody>
                </table>
                <table class="results-table">
                    <thead>
                        <tr>
                            <th>Konto</th>
                            <th>Subkonto</th>
                            <th class="no-padding">Rozw.</th>
                            <th>Referencja</th>
                            <th class="no-padding">Korekta</th>
                            <th class="info-cell"></th>
                        </tr>
                    </thead>
                    <tbody class="results-table-body">
                        @for (row of data(); let index = $index; track index) {
                        <tr class="results-row" [class.above-zero]="row.currencyCorrection > 0"
                            [class.below-zero]="row.currencyCorrection < 0"
                            [class.is-focused]="tooltipIndex() === index">
                            <td>{{ row.konto }}</td>
                            <td>{{ row.subkonto }}</td>
                            <td>{{ row.mpk }}</td>
                            <td>RK {{ row.referencjaKG }}</td>
                            <td>{{ (row.currencyCorrection | nmbr) || '0,00' }}</td>
                            <td class="info-cell" (ardClickOutside)="tooltipIndex.set(-1)"
                                (mousedown)="$event.stopPropagation()" (click)="toggleTooltip(index)">
                                <app-icon>info</app-icon>
                                <div class="row-tooltip">
                                    <div class="tooltip-grid">
                                        <div class="title-row top-row">{{ row.details.positiveReference }}</div>
                                        <div class="title-row top-row">{{ row.details.negativeReference }}</div>
                                        <div class="title-row top-row">Korekta</div>
                                        <div class="text-row">{{ row.details.positiveAmount | pln }}</div>
                                        <div class="text-row">{{ row.details.negativeAmount | pln }}</div>
                                        <div class="text-row">{{ row.currencyCorrection | pln }}</div>
                                        <div class="title-row">Waluta (dod.)</div>
                                        <div class="title-row">Waluta (uj.)</div>
                                        <div class="title-row">Różnica kursów</div>
                                        <div class="text-row">≈{{ row.details.positiveRate | pln:4 }}</div>
                                        <div class="text-row">≈{{ row.details.negativeRate | pln:4 }}</div>
                                        <div class="text-row">≈{{ row.details.rateDifference | pln:4 }}</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (isDetailsShown()) {
            <table class="tooltip-table results-table">
                <thead>
                    <tr>
                        <th>Referencja</th>
                        <th>Kwota dod.</th>
                        <th>Kwota uj.</th>
                        <th>Korekta</th>
                        <th>Waluta - dod.</th>
                        <th>Waluta - uj.</th>
                        <th>Różnica kursów</th>
                    </tr>
                </thead>
                <tbody>
                    @for (row of data(); let index = $index; track index) {
                    <tr [class.is-focused]="tooltipIndex() === index">
                        <td>{{ row.details.otherReference }}</td>
                        <td>{{ row.details.positiveAmount | nmbr:3 }}</td>
                        <td>{{ row.details.negativeAmount | nmbr:3 }}</td>
                        <td>{{ row.currencyCorrection | nmbr:3 }}</td>
                        <td>≈{{ row.details.positiveRate | nmbr:4 }}</td>
                        <td>≈{{ row.details.negativeRate | nmbr:4 }}</td>
                        <td>≈{{ row.details.rateDifference | nmbr:4 }}</td>
                    </tr>
                    }
                </tbody>
            </table>
            }
        </div>
    </div>
</div>
}