app-final-table,
.final-table {
    max-width: 100%;
}

.final-table {
    display: flex;
    gap: 1rem;

    .results-table {
        border-collapse: collapse;
        position: relative;
        color: var(--text2);
        border: 1px solid var(--detail-light);
    }

    .results-row {
        border-radius: 8px;
        border-left: 5px solid var(--detail);
        position: relative;
        
        &.above-zero {
            border-left-color: #C43C00;
        }
        &.below-zero {
            border-left-color: #43A047;
        }
        &.is-focused {
            td {
                background-color: darken(white, 4%);
            }
        }
    }

    .results-row>td {
        padding: 0 1rem;
        height: 3.25rem;
        vertical-align: middle;
        border: none;
        border-top: 1px solid var(--detail-light);
        border-bottom: 1px solid var(--detail-light);
        background: white;
    }


    //! tooltips
    .info-cell.info-cell.info-cell {
        border-color: transparent;
        border-left: 1px solid var(--detail-light);
        border-right: 1px solid transparent;
        background: none;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
    }
    .results-row:hover .info-cell.info-cell.info-cell {
        opacity: 1;
        pointer-events: all;
    }
    .row-tooltip {
        position: absolute;
        left: 60%;
        bottom: 100%;
        padding: 0.625rem;
        transform: translate(-50%, -1rem);
        display: none;
        pointer-events: none;
        background: white;
        border-radius: 0.5rem;
        border: 1px solid var(--detail);
        box-shadow: 0 -1px 7px 0px rgba(0,0,0,0.2);

        &::after {
            $arrow-size: 0.5rem;
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, #{$arrow-size * -0.707}) rotate(45deg);
            width: #{$arrow-size * 1.414};
            height: #{$arrow-size * 1.414};
            border: 1px solid var(--detail);
            border-left-color: transparent;
            border-top-color: transparent;
            background: white;
        }
    }
    .results-row.is-focused .row-tooltip {
        display: block;
    }
    .tooltip-grid {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        gap: 0.375rem 1rem;

        > * {
            font-size: 14px;
        }
        .top-row {
            font-weight: 500;
        }
    }
}