<div class="scrollable-table">
    <table>
        <tr>
            <th>#</th>
            @for (key of dataArray[0] | keys; track $index) {
            <th>{{key}}</th>
            }
            <th>Actions</th>
        </tr>
        @for (item of dataArray; let i = $index; track i;) {
        <tr>
            <td>{{i + 1}}</td>
            @for (key of dataArray[0] | keys; track $index) {
            <td>
                <input [(ngModel)]="item[key]" type="text">
            </td>
            }
            <td>
                <button (click)="deleteRow(i)">🗑️</button>
            </td>
        </tr>
        }
    </table>
</div>